<section>
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="header-style">
      <img
        src="/images/Logo.svg"
        loading="lazy"
        width="115"
        height="115"
        alt="Braulio Baltazar logo"
        class="logo"
      />
    </div>
  </div>
</section>
