<section class="section">
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="hero-2">
      <div class="container-3">
        <div class="text scroll-reveal">Hello.</div>
        <div class="main-body scroll-reveal">
          I'm Braulio, AKA Brauhaus, an eclectic creative professional
          working as a designer, brand strategist, and innovative problem
          solver. My work lies at the intersection of science, technology,
          strategy, art, and design, focusing on exploring the unknown and
          creating better, intentional futures for everyone. Welcome to my
          personal hub, where you can discover who I am, what I've
          done, what I'm working on, and what I think.
        </div>
      </div>
    </div>
  </div>
</section>
