<section>
  <div class="w-layout-blockcontainer main-container right-pos w-container">
    <div class="cover-images-2">
      <div class="image-carrousel">
        <div class="div-block-28">
          <div
            id="w-node-f5fef1b5-03a4-b866-a463-d12acc564826-fb70cb9c"
            class="image-intro"
          >
            <img
              src="/images/Candle.svg"
              loading="lazy"
              width="577"
              height="523"
              alt="AI-generated candle illustration"
              class="candle"
            />
          </div>
          <div
            id="w-node-cdcdda36-e499-883e-700c-0656cd31b207-fb70cb9c"
            class="image-intro"
          >
            <img
              src="/images/Woman.svg"
              loading="lazy"
              width="361"
              height="523"
              alt="AI-generated woman portrait illustration"
              class="woman woman-mobile"
            />
          </div>
        </div>
        <div
          id="w-node-_823f1f8d-816f-3410-7c4f-fa011e28165e-fb70cb9c"
          class="image-intro"
        >
          <picture>
            <source srcset="/images/Dragon.webp" type="image/webp" />
            <img
              src="/images/Dragon.png"
              loading="lazy"
              width="735"
              height="524"
              alt="AI-generated dragon illustration"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 735px"
              class="hero-section-2"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
