<section>
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="what-im-working quote">
      <div class="section-title underline">
        <div class="div-block-34">
          <div class="title small-title">
            "It's not how good you are, it's how good you want to be"
          </div>
          <h3 class="heading-12">Paul Arden.</h3>
        </div>
      </div>
      <div class="projects-2"></div>
    </div>
  </div>
</section>
