<section>
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="what-i-think">
      <div class="section-title toolset">
        <div class="frame-4">
          <div class="title">Toolset</div>
        </div>
      </div>
      <div class="frame-6">
        <div class="frame-3">
          <h2 class="heading-13">My Toolset these days</h2>
          <h3 class="heading-11">
            🧠 <strong>Project Management:</strong> Notion (actually Notion
            is my second brain) ✏️ <strong>Design (Digital)</strong>: Figma,
            Layermate, UX Pilot and Relume 💻 <strong>Vibe coding</strong>:
            Bolt, Windsurf, Lovable and Vercel V0
            <strong>🖌️ Graphic Design:</strong> Affinity (Design, Photo,
            Publisher)⚙️ <strong>Version control</strong>: GitHub (my
            lifesaver) 💻 <strong>Code editing</strong>: VS Code and
            Windsurf 🎥 <strong>Videos</strong>: Midjourney, Kling, Veo 3 🖼️
            <strong>AI</strong> <strong>Images</strong>: Midjourney, Flux 🤖
            <strong>LLMs:</strong> ChatGPT and Claude ✜
            <strong>AI Graphics:</strong> Lovart, Recraft<strong
              >🎙️Text to audio:</strong
            >
            ElevenLabs <strong>🧰 All in one AI:</strong> Freepik, Fal
            <strong>💻 Web design:</strong> Webflow 🗂️
            <strong>Databases</strong>: Supabase 🚚 <strong>Deploy</strong>:
            Netlify
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
