<section>
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="what-i-done">
      <div>
        <div class="section-title">
          <div class="title">What I've been done</div>
          <div class="paragraph">
            Since September 2022, I have been experimenting with different
            text-to-image generation models. It's remarkable how much
            technology has advanced in less than three years. We've
            gone from seeing images and videos with a very
            "AI-like" aesthetic to creations that are now
            impossible to distinguish whether they're real or
            artificial. There are many challenges, but there are even more
            opportunities. I declare myself optimistic about this
            technology. Certainly, there will be disruptions that affect
            many people, but knowing how to make responsible and ethical use
            of it can represent a watershed that will give rise to a new
            golden era for creativity. <br /><br />My work now is to spread
            awareness about the advantages of using AI tools as a factor in
            human development. I conduct consultations and talks at
            companies and schools. I constantly experiment and create
            projects that allow me to understand the scope that AI will have
            at an economic and social level, but above all, I'm
            passionate about knowing how content creation will evolve in the
            years to come. The future truly excites me. <br /><br />Here is
            a small selection of videos generated entirely with AI.
          </div>
        </div>
      </div>
    </div>
    <div class="video-gallery">
      <div
        id="w-node-_53626dc3-af9f-bcf6-1e3b-da8e36ed88cf-fb70cb9c"
        class="background-video-2 w-background-video w-background-video-atom"
      >
        <video
          loop
          muted
          playsinline
          data-object-fit="cover"
          style="background-image: url('/videos/Bici-poster-00001.jpg');"
          data-src-mp4="/videos/Bici-transcode.mp4"
          data-src-webm="/videos/Bici-transcode.webm"
        ></video>
      </div>
      <div
        id="w-node-ee21d1e3-8e66-8a03-332a-8415e7da8702-fb70cb9c"
        class="background-video-3 w-background-video w-background-video-atom"
      >
        <video
          loop
          muted
          playsinline
          data-object-fit="cover"
          style="background-image: url('/videos/Sisters-poster-00001.jpg');"
          data-src-mp4="/videos/Sisters-transcode.mp4"
          data-src-webm="/videos/Sisters-transcode.webm"
        ></video>
      </div>
      <div
        id="w-node-cb773d73-49f3-fd90-ab92-f15d2f89fa6f-fb70cb9c"
        class="background-video-4 w-background-video w-background-video-atom"
      >
        <video
          loop
          muted
          playsinline
          data-object-fit="cover"
          style="background-image: url('/videos/Tenis-poster-00001.jpg');"
          data-src-mp4="/videos/Tenis-transcode.mp4"
          data-src-webm="/videos/Tenis-transcode.webm"
        ></video>
      </div>
      <div
        id="w-node-_5fb8f2c7-8831-6841-3774-7043373ff060-fb70cb9c"
        class="background-video w-background-video w-background-video-atom"
      >
        <video
          loop
          muted
          playsinline
          data-object-fit="cover"
          style="background-image: url('/videos/Creek-Beer-poster-00001.jpg');"
          data-src-mp4="/videos/Creek-Beer-transcode.mp4"
          data-src-webm="/videos/Creek-Beer-transcode.webm"
        ></video>
      </div>
      <div
        id="w-node-f43e352f-7a2d-1cfa-fac1-eff56988117f-fb70cb9c"
        class="background-video-7 w-background-video w-background-video-atom"
      >
        <video
          loop
          muted
          playsinline
          data-object-fit="cover"
          style="background-image: url('/videos/Red-Kimono-poster-00001.jpg');"
          data-src-mp4="/videos/Red-Kimono-transcode.mp4"
          data-src-webm="/videos/Red-Kimono-transcode.webm"
        ></video>
      </div>
      <div
        id="w-node-d7f02ea8-720a-9501-9d2a-882e026f6537-fb70cb9c"
        class="background-video-8 w-background-video w-background-video-atom"
      >
        <video
          loop
          muted
          playsinline
          data-object-fit="cover"
          style="background-image: url('/videos/Japan-01-poster-00001.jpg');"
          data-src-mp4="/videos/Japan-01-transcode.mp4"
          data-src-webm="/videos/Japan-01-transcode.webm"
        ></video>
      </div>
      <div
        id="w-node-f2e8adca-fd6e-8679-99ba-5cbae72601d2-fb70cb9c"
        class="background-video-9 w-background-video w-background-video-atom"
      >
        <video
          loop
          muted
          playsinline
          data-object-fit="cover"
          style="background-image: url('/videos/Japan-02-poster-00001.jpg');"
          data-src-mp4="/videos/Japan-02-transcode.mp4"
          data-src-webm="/videos/Japan-02-transcode.webm"
        ></video>
      </div>
      <div
        id="w-node-_675331c6-9755-71a3-2b0d-388d2da23f17-fb70cb9c"
        class="background-video-10 w-background-video w-background-video-atom"
      >
        <video
          loop
          muted
          playsinline
          data-object-fit="cover"
          style="background-image: url('/videos/Lambo-poster-00001.jpg');"
          data-src-mp4="/videos/Lambo-transcode.mp4"
          data-src-webm="/videos/Lambo-transcode.webm"
        ></video>
      </div>
      <div
        id="w-node-_45dede1d-f18f-91cc-d5fc-190cc978ed52-fb70cb9c"
        class="background-video-5 w-background-video w-background-video-atom"
      >
        <video
          loop
          muted
          playsinline
          data-object-fit="cover"
          style="background-image: url('/videos/on-the-road-poster-00001.jpg');"
          data-src-mp4="/videos/on-the-road-transcode.mp4"
          data-src-webm="/videos/on-the-road-transcode.webm"
        ></video>
      </div>
      <div
        id="w-node-bf02dd56-0024-900d-ee5e-2d9a5311cb63-fb70cb9c"
        class="background-video-6 w-background-video w-background-video-atom"
      >
        <video
          loop
          muted
          playsinline
          data-object-fit="cover"
          style="background-image: url('/videos/Singer-poster-00001.jpg');"
          data-src-mp4="/videos/Singer-transcode.mp4"
          data-src-webm="/videos/Singer-transcode.webm"
        ></video>
      </div>
    </div>
  </div>
</section>