<section>
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="what-i-do">
      <div class="text-area">
        <div class="content-style">
          <div class="paragraph">
            Rather than limiting myself to a single label, I embrace diverse
            ways of thinking. My professional practice spans four key areas:
          </div>
          <div class="disciplines-2">
            <div class="_01">
              <div class="text-3 scroll-reveal">Business</div>
            </div>
            <div class="_01">
              <div class="text-3">Design</div>
            </div>
            <div class="_01">
              <div class="text-3">Art</div>
            </div>
            <div class="_01">
              <div class="text-3">ai</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
