<section>
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="what-im-working underline">
      <div class="section-title underline">
        <div class="title">What I'm working on</div>
        <div class="description">
          These days, I've been exploring vibe coding and its
          applications in product development. My most interesting current
          projects include Agla (working name), an online store enabling
          clients to have their own platform without relying on external
          providers; Copper Creek, a beer brand conceived during a design
          sprint; and Freestate, an application helping freelancers
          calculate their rates based on fixed and variable expenses.<br />
        </div>
      </div>
      <div class="projects-2">
        <div class="text-area-2">
          <div class="description">
            Click to access to any project<br />
          </div>
          <a
            href="https://www.doodzoostudio.com/"
            target="_blank"
            class="w-inline-block"
          >
            <div class="text-6">Doodzoo</div>
          </a>
          <a
            href="https://v0-agla-homepage-design.vercel.app/"
            target="_blank"
            class="w-inline-block"
          >
            <div class="text-6">Agla</div>
          </a>
          <a
            href="https://braulio.ca/bmc/"
            target="_blank"
            class="w-inline-block"
          >
            <div class="text-6">Business Model Canvas</div>
          </a>
          <a href="#" class="w-inline-block"></a>
          <a
            href="https://bonanzacafe.com/"
            target="_blank"
            class="w-inline-block"
          >
            <div class="text-6">Bonanza Cafe</div>
          </a>
          <a
            href="https://jumpafterus.com"
            target="_blank"
            class="w-inline-block"
          >
            <div class="text-6">Jump After Us</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
